* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.qr-banner {
  display: block;
  margin: 0 auto;
  max-width: 90vw;
  max-height: 90vh;
  cursor: pointer;
  padding: 5vh 0;
}

.content {
  background-color: #111;
  padding: 100px 20px;
  text-align: center;
}
